html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: #ffffff;
}

.heading { 
    font-family: 'Gabriela', serif; 
    background-image: url("https://images.unsplash.com/photo-1552688468-d87e6f7a58f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-position-y: 80%;
    padding: 200px;
    max-width: 100%;
    position: relative;
  min-height: 150px;
}

h1 {
    font-size: 100px; 
    color: #ffffff;
    letter-spacing: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.welcome {
    padding: 20px;
    margin: 20px;
}

h4 {
    font-family: 'Gabriela', sans-serif;
    font-size: 40px;
    color: black;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: black;
}

.projects {
    display: flex;
    justify-content: center;
}


.card {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: solid 5px black;
    font-family: 'Lato', sans-serif;
}

.card-title {
    font-family: 'Gabriela', serif;
    font-weight: bold;
    font-size: 23px;
    display: flex;
    justify-content: center;
}

.card-img {
    object-fit: cover;
    height: 100px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    font-family: 'Gabriela', serif;
    font-style: italic;
    font-size: 16px;
    background-color: black;
    border: black;
    padding: 5px;
    position: absolute;
    bottom: 6px;

}

.btn:hover {
    background-color: #d1aadb;
    color: black;
}

.justify-content-center {
    font-family: 'Gabriela', serif; 
    font-size: 18px;
    background-color: black;
}

.nav-item {
    padding: 5px 10px 10px 10px;
    font-size: 22px;
}

a {
    color: white;
}

a:hover { 
    color: #d1aadb;
}

.about {
    margin-top: 50px;
    padding: 20px;
}

img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.me {
    height: 700px;
    width: 550px;
    display: flex;
    justify-content: center;
}

.excel {
    height: 600px;
    width: 1100px;
    display: flex;
    justify-content: center;
}

.light {
    height: 1000px;
    width: 700px;
    display: flex;
    justify-content: center;
}

.etc {
    height: 700px;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.captionLink {
    color: black;
}

.captionLink:hover {
    color: #8f77bb;
}

.carousel-inner {
    margin: auto;
    max-height: 50%;
    max-width: 50%;
}

.carousel-control-prev {
  margin-left: 230px;
}

.carousel-control-next {
    margin-right: 230px;
  }

#caption {
    background-color: rgba(223, 223, 223, 0.7);
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
}

#captionTitle {
    background-color: rgba(223, 223, 223, 0.7);
    font-weight: bold;
    font-family: 'Gabriela', serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.contact {
    margin-top: 50px;
    padding: 20px;
}

input {
    width: 320px;
}

textarea {
    height: 30px;
    width: 300px;
}

label {
    font-weight: bold;
    font-family: 'Gabriela', serif;
    font-size: 20px;
}

.form {
    background-color: white;
    list-style-type: none;
 margin: 10px;
}

.icon {
    padding: 10px;
}

.formSubmit {
    font-family: 'Gabriela', serif;
    padding: 5px;
    width: 100px;
    margin-top: 20px;
}

.formSubmit:hover {
    background-color: #d1aadb;
    letter-spacing: 2px;
    font-weight: bold;
}

.footer {
    margin: 20px;
}

h6 {
    font-family: 'Gabriela', serif;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footerLinks {
    list-style-type: none; 
}

.inLineLinks {
    display: inline;
    padding: 50px;
}

.social {
    margin-top: 80px;
}

.socialLinks {
    margin-left: -75px;
}

#socialInLineLink {
    margin-left: -80px;
}

.linkedIn {
    height: 200px;
    width: 200px;
}

.git {
    height: 120px;
    width: 205px;
}

.resume {
color: black;
}

.resume:hover {
    color: #d1aadb;
    font-style: italic;
}

.endLinks {
    color: black;
}

.endLinks:hover {
    color: #d1aadb;
}